.wrapper {
  display: grid;
  grid-template: auto 1fr / auto minmax(320px, 1200px) auto;
  grid-template-areas:
    ". header ."
    ". body .";
  gap: 10px 30px;
  min-height: 100%;
}

.header {
  grid-area: header;
  padding: 30px;
}

.body {
  grid-area: body;
  outline: none;
}
