{
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 4,
  "singleQuote": false,
  "semi": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
