$font-family: "Roboto", sans-serif;
$bg-color: white;
$text-color: #6a6a6a;
$text-color-light: white;
$primary: #ffb2a8;
$primary-light: #ffb0aa;
$secondary: #ffeeb6;
$green: #b3dfc4;

$black: #1b1a1f;
